
.App {
  text-align: center;
  padding: 0px !important;
}

.custom-alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  background-color: #79c094;
  color: #00150a;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.custom-alert:hover {
  transform: scale(1.05);
}
