@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 105px 30px;
  font-family: "Abel", sans-serif;
  background-color: #b5d992;
}

.navbar h1 {
  font-size: 24px;
  font-family: "Abel", sans-serif;
}

/* Estilos para el menú */
.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
  cursor: pointer;
}

.logOut {
  padding: 10px 200px;
  margin-right: 5%;
  background-color: #46ad81;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Abel", sans-serif;
  cursor: pointer;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }
}
