@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-family: "Abel", sans-serif;
  background-color: #ebfadc;
  border-bottom: 1px solid #ccc;
}

.navbar h1 {
  font-size: 24px;
  font-family: "Abel", sans-serif;
}

/* Estilos para el botón de hamburguesa */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

/* Estilos para el menú */
.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
  cursor: pointer;
}

.logOut {
  padding: 10px 20px;
  background-color: #46ad81;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Abel", sans-serif;
  cursor: pointer;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }
}
