/* Container styles */
.app-container {
  position: relative;
  min-height: 100vh;
}

.overlay-active {
  overflow: hidden;
}

.dashboard-containerr {
  margin-top: 20px;
}

.container {
  background-color: #ffffff;
  margin-left: 90%;
}

/* Search and Filter styles */
.search-input {
  border: 1px solid #000;
  border-radius: 10px;
}

.filter-dropdown {
  background-color: #46ad81;
  padding: 10px;
  border-radius: 10px;
  color: #f1f8ff;
}

/* Table styles */
.files-table {
  margin-left: 100px;
  margin-top: 30px;
}

/* Back button styles */
.back-button {
  background-color: #ffffff;
  color: #1d5300;
  margin-top: -100px;
}

.back-button:hover {
  background-color: #ffffff;
  color: #1d5300;
}

/* Chat styles */
.chat-container {
  height: 100%;
}

.chat-box {
  height: 300px;
  width: 300px;
  overflow-y: auto;
  border-radius: 8px;
  background-color: #f1f8ff;
}

.message {
  padding: 10px;
  background-color: #e3f2fd;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Input and Button styles */
input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #000;
}

button {
  padding: 10px 20px;
  background-color: #46ad81;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Chat modal and overlay styles */
.chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 999;
  transition: all 0.3s ease;
}

.chat-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  width: 400px;
  height: 550px;
}

.chat-modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1001;
}

/* Chat buttons */
.open-chat-button {
  padding: 10px 20px;
  background-color: #46ad81;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.close-chat-button {
  background-color: rgba(164, 9, 9, 0.885);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 2%;
  align-self: flex-end;
}

/* Hover effects */
.open-chat-button:hover {
  background-color: #3d9670;
}

.close-chat-button:hover {
  background-color: rgba(164, 9, 9, 1);
}

/* Animation for chat modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -48%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.chat-modal {
  animation: fadeIn 0.3s ease-out;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .chat-modal {
    width: 90%;
    height: 80vh;
  }
  
  .files-table {
    margin-left: 20px;
  }
  
  .container {
    margin-left: 5%;
  }
}