/* Estilos para el sidebar */
.sidebar {
  width: 250px;
  background-color: #539653;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  left: 0px;
  top: 0; /* Empieza desde el tope */
  height: 700px;
  bottom: 0; /* Se extiende hasta el fondo */ 
  transition: transform 0.3s ease-in-out;
}


.menu {
  list-style-type: none;
  padding: 0;

}

.sidebar li {
  margin:15px 0;
}

.sidebar hr {
  border: 1px solid #218021;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }
}

.tak{
  text-decoration: none;
}