@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Abel", sans-serif;
  background-color: #ebfadc;
  border-bottom: 1px solid #ccc;
}

.navbar h1 {
  font-size: 24px;
  font-family: "Abel", sans-serif;
  margin:1% 2% 2% 5%;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
  cursor: pointer;
}

.logOut {
  padding: 10px 20px;
  background-color: #46ad81;
  color: white;
  border: none;
  margin-right: 5%;
  border-radius: 5px;
  font-family: "Abel", sans-serif;
  cursor: pointer;
}
