body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0fdf4;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.content-wrapper{
  display: flex;
  flex-direction: row;
  background-color: #f0fdf4;
}